################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVCAppRepo01/.vs/MVCAppRepo01
/MVCAppRepo01/MVCAppRepo01/bin/Debug/netcoreapp3.1
/MVCAppRepo01/MVCAppRepo01/obj
/.vs
