################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVCAppRepo01/.vs/MVCAppRepo01
